<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar-top">
      <ul>
        <li>Top nav</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>

    <nav class="navbar-left">
      <ul>
        <li>Left nav</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>

    {% block body %}
    {% endblock %}

    <nav class="navbar-right">
      <ul>
        <li>Right nav</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>

    {% block script %}
    {% endblock %}
  </body>

</html>
