{% extends 'base/index.html' %}

{% load static %}


{% block title %}Accounts{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/index.css' %}">
{% endblock %}


{% block body %}
  <div class="actions">
    <div class="card">
      <!-- TODO: width: auto; -->
      <input id="new_account"
             autocomplete="off"
             onkeyup="registerNewAccount(event);" />
    </div>
  </div>

  <div class="card_container" id="accounts">
    <div class="cards_wrapper" id="" name="account">
      {% for account in accounts %}
        <div class="card">
          <p><strong>{{ account }}</strong></p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block script %}
  <script src="{% static 'accounts/js/index.js' %}"></script>
{% endblock %}
